.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.qwe {
  display: flex;
}
.header-ul {
  display: flex;
  list-style: none;
  font-family: "nunito";
}
.header-h1 {
  color: blue;
  padding-right: 150px;
}
.header-a {
  color: blue;
  margin-left: 70px;
}
.h2 {
  font-family: "nunito";
  font-size: 30px;
  width: 1000px;
  padding-left: 410px;
  padding-bottom: 15px;
  color: blue;
}
.pp {
  font-family: "nunito";
  font-size: 20px;
  width: 1000px;
  padding-left: 100px;
  padding-bottom: 70px;
}
.footer-ul {
  font-family: "nunito";
  list-style: none;
}
.li {
  padding-top: 10px;
}
.aa {
  font-family: "nunito";
  font-size: 30px;
  padding-top: 30px;
  color: blue;
}
.ii:hover {
  color: gold;
  text-decoration: none;
}
.header-a:hover {
  color: gold;
}
body {
  background-color: lightgrey;
}
.ppp {
  color: blue;
}
.ppp:hover {
  color: gold;
}
body {
  font-weight: bold;
  animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
